pdfminer.six
phonenumbers
google_auth
redis
simplejson
xlsxwriter
xlrd

fastapi==0.121.2
starlette==0.49.3
python-multipart
ujson
a2wsgi
parse-accept-language

## Added ##
python-Levenshtein
fuzzywuzzy
openai
python-jose
pyjwt
msal


tldextract
braintree
PyPDF2==2.12.1
PyMuPDF
pdf2image
plaid-python
pysaml2
python-json-logger 
redis
elastic-apm
imgkit

wrapt==2.0.1
xmlschema==2.5.1
elementpath==4.8.0
geoip2
markdown2

python-quickbooks==0.9.12
pycountry==26.2.16 
future
python-json-logger